[
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: join channel (.*)"
        },
        "trigger": "message",
        "result": {
            "chan": "{g1}",
            "type": "join"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: request (.*) on (.*)"
        },
        "trigger": "message",
        "result": {
            "content": "{g1} {g2}",
            "to": "ChanServ",
            "type": "message"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: kick (.*) from (.*)"
        },
        "trigger": "message",
        "result": {
            "chan": "{g2}",
            "type": "kick",
            "nick": "{g1}"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: remove bans on (.*) in (.*)"
        },
        "trigger": "message",
        "result": {
            "chan": "{g2}",
            "type": "mode",
            "mode": "-qb {g1} {g1}"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: change nick to (.*)"
        },
        "trigger": "message",
        "result": {
            "newnick": "{g1}",
            "type": "nick"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: part channel (.*)"
        },
        "trigger": "message",
        "result": {
            "chan": "{g1}",
            "type": "part"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "ChanServ: (op|deop|voice|devoice)"
        },
        "trigger": "message",
        "result": {
            "content": "{g1} {chan} {sender}",
            "to": "ChanServ",
            "type": "message"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "all",
            "data": "requested by .*"
        },
        "trigger": "part",
        "result": {
            "chan": "{chan}",
            "type": "join"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": "{nick}: set mode (.*)"
        },
        "trigger": "message",
        "result": {
            "chan": "{chan}",
            "type": "mode",
            "mode": "{g1}"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "admin",
            "data": ".*"
        },
        "trigger": "join",
        "result": {
            "chan": "{chan}",
            "type": "mode",
            "mode": "+o {sender}"
        }
    },
    {
        "triggerargs": {
            "changroup": "private",
            "nickgroup": "admin",
            "data": "say (.*) to (.*)"
        },
        "trigger": "message",
        "result": {
            "content": "{g1}",
            "to": "{g2}",
            "type": "message"
        }
    },
    {
        "triggerargs": {
            "changroup": "all",
            "nickgroup": "all",
            "data": ".*{nick}.*"
        },
        "trigger": "kick",
        "result": {
            "chan": "{chan}",
            "type": "join"
        }
    }
]
